
<div class="row justify-content-center">
  <form class="col col-sm-4" (ngSubmit)="register()" [formGroup]="scheduleForm">
    <div *ngIf="formErrorsMsg">
      <p class="text-danger" *ngFor="let err of formErrorsMsg">{{err}}</p>
    </div>
    <div *ngIf="formSuccessMsg">
      <p class="text-success" *ngFor="let info of formSuccessMsg">{{info}}</p>
    </div>
    <div class="mb-3">
      <label  class="form-label">Patient First Name</label>
      <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
    </div>
    <div class="mb-3">
      <label  class="form-label">Patient Last Name</label>
      <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
    </div>
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">Gender</label>-->
<!--      <select class="form-select">-->
<!--        <option selected>Gender</option>-->
<!--        <option value="m">Male</option>-->
<!--        <option value="f">Female</option>-->
<!--        <option value="o">Other</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <div class="row">-->
<!--        <label  class="form-label">Birthdate</label>-->
<!--        <div class="col">-->
<!--          <select class="form-select">-->
<!--            <option selected>Month</option>-->
<!--            <option value="m">January</option>-->
<!--            <option value="f">February</option>-->
<!--            <option value="o">Other</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <select class="form-select">-->
<!--            <option selected>Date</option>-->
<!--            <option value="m">1</option>-->
<!--            <option value="f">2</option>-->
<!--            <option value="o">Other</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="col">-->
<!--          <input type="number" min="1900" minlength="4" maxlength="4" class="form-control" placeholder="Year">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">Email address</label>-->
<!--      <input type="email" class="form-control" placeholder="name@example.com">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">Address</label>-->
<!--      <input type="text" class="form-control" placeholder="Address">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">City</label>-->
<!--      <input type="text" class="form-control" placeholder="City">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">State</label>-->
<!--      <select class="form-select">-->
<!--        <option selected>State</option>-->
<!--        <option value="m">IA</option>-->
<!--        <option value="f">Il</option>-->
<!--        <option value="o">Other</option>-->
<!--      </select>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">Zip Code</label>-->
<!--      <input type="text" class="form-control" placeholder="Zip Code">-->
<!--    </div>-->
    <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>

